{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-2 col-md-4 col-sm-4">
      <div class="thumbnail thumbnail-relative">
        {% if channel.logo %}
          <img src="{{ url_for('static', filename=channel.logo) }}" class="img-responsive">
        {% else %}
          <img src="holder.js/500x500?theme=gray&auto=yes&text={{ channel.name }}" class="img-responsive">
        {% endif %}
        <div class="caption caption-overlay">
          <a href="{{ channel.url }}">
            <span class="text-muted pull-left">{{ channel.name }}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body">
        {% if feed.img %}
          <img src="{{ feed.img }}" class="img-responsive" style="margin: 0 auto;">
        {% else %}
          <img src="holder.js/640x400?theme=gray&auto=yes&text={{ feed.title }}" class="img-responsive">
        {% endif %}
        </div>
        <div class="panel-footer">
          <p>
          <strong class="text-muted">{{ feed.title }}, {{ feed.date.replace(' - ', ' Uhr - ') }} Uhr</strong>
          <span class="pull-right">
          <a href="{{ channel.stream }}">
            <i class="fa fa-download text-muted"></i>
          </a>
          <a href="{{ url_for('tv_start', channel_id=channel.pk) }}">
            <i class="fa fa-tv text-muted"></i>
          </a>
          </span>
          </p>
        {% if feed.plot %}
          <p>{{ feed.plot|safe }}</p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
