{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-xs-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Channel</th>
            <th><i class="fa fa-tv"></i></th>
            <th>Title</th>
            <th>Aired</th>
          </tr>
        </thead>
        <tbody>
        {% for feed in feeds %}
          <tr>
            <td>
              <a href="{{ url_for('channel', channel_id=loop.index) }}">
                {{ feed.channel }}
              </a>
            </td>
            <td>
              <a href="{{ url_for('tv_start', channel_id=loop.index) }}">
                <i class="fa fa-tv"></i>
              </a>
            </td>
            <td>
              {{ feed.title }}
            </td>
            <td>
              {{ feed.date.replace(' - ', ' Uhr - ') }} Uhr
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
